@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="col-md-offset-2 col-md-8 panel panel-default">
    <div class="panel-body ">
        <h2>Help</h2>
        <p>This is the help section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.</p>
        <h3>Surveys</h3>
        <!--Reminder when adding new sections:
            - change accordion id to whatever section it is eg surveyAccordion
            - change href to be appropriate question #
        -->
        <div class="accordion" id="surveyAccordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#surveyAccordion" href="#sq1">
                        How do I create a survey?
                    </a>
                </div>
                <div id="sq1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#surveyAccordion" href="#sq2">
                        How do I edit a survey?
                    </a>
                </div>
                <div id="sq2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#surveyAccordion" href="#sq3">
                        What is duplicating a survey?
                    </a>
                </div>
                <div id="sq3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#surveyAccordion" href="#sq6">
                        How do I delete a survey?
                    </a>
                </div>
                <div id="sq6" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#surveyAccordion" href="#sq7">
                        How do I deploy a survey to a tablet?
                    </a>
                </div>
                <div id="sq7" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

        </div>

        <h3>Reports</h3>
           <div class="accordion" id="reportsAccordion">
               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle" data-toggle="collapse" data-parent="#reportsAccordion" href="#rq1">
                           How do I see the collected data and answers from a survey?
                       </a>
                   </div>
                   <div id="rq1" class="accordion-body collapse">
                       <div class="accordion-inner">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                       </div>
                   </div>
               </div>

               <div class="accordion-group">
                   <div class="accordion-heading">
                       <a class="accordion-toggle" data-toggle="collapse" data-parent="#reportsAccordion" href="#rq2">
                           How do I download the data and answers from a survey?
                       </a>
                   </div>
                   <div id="rq2" class="accordion-body collapse">
                       <div class="accordion-inner">
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                       </div>
                   </div>
               </div>
            </div>

        <h3>Exhibits</h3>

        <div class="accordion" id="exhibitAccordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#exhibitAccordion" href="#eq1">
                        How do I create an exhibit?
                    </a>
                </div>
                <div id="eq1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#exhibitAccordion" href="#eq2">
                        How do I delete an exhibit?
                    </a>
                </div>
                <div id="eq2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#exhibitAccordion" href="#eq3">
                        How do I view an exhibit?
                    </a>
                </div>
                <div id="eq3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>
        </div>

        <h3>Themes</h3>

        <div class="accordion" id="themeAccordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#themeAccordion" href="#tq1">
                        How do I create a theme?
                    </a>
                </div>
                <div id="tq1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#themeAccordion" href="#tq2">
                        How do I edit a theme?
                    </a>
                </div>
                <div id="tq2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#themeAccordion" href="#tq3">
                        How do I delete a theme?
                    </a>
                </div>
                <div id="tq3" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>
        </div>

        <h3>Images</h3>

        <div class="accordion" id="imagesAccordion">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#imagesAccordion" href="#iq1">
                        How do I upload an image?
                    </a>
                </div>
                <div id="iq1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>

            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#imagesAccordion" href="#iq2">
                        How do I edit an image?
                    </a>
                </div>
                <div id="iq2" class="accordion-body collapse">
                    <div class="accordion-inner">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis iaculis ex. Ut ac justo vel orci lobortis efficitur. Proin eu congue tellus. Phasellus posuere quam tortor, ut scelerisque velit tempus at. Nullam consectetur lacus sed nibh semper, eget cursus quam venenatis. Nulla quis faucibus sapien, et interdum sem. Donec venenatis ligula ut mauris laoreet, vitae luctus tellus mollis.
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>