################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiscoveryCenter/TestResults
/DiscoveryCenter/DiscoveryCenter/DiscoveryCenter.csproj.user
/DiscoveryCenter/DiscoveryCenter/bin/*
/DiscoveryCenter/DiscoveryCenter/obj/*
/DiscoveryCenter/DiscoveryCenterTests/bin/*
/DiscoveryCenter/DiscoveryCenterTests/obj/*
*.dll
*.suo