@model DiscoveryCenter.Models.SurveyViewModel
@using DiscoveryCenter.Models

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<div class="panel panel-middle">
    <center>
        <h1>Welcome to the @Model.SurveyName Survey!</h1>
        <img src="~/Content/images/discovery.png" />
        <h2>@Model.SurveyDescription</h2>
        @Html.ActionLink("Start", "Survey", new { id = Model.SurveyId }, new { id = "Btn_Start", @class = "btn btn-default" })
    </center>
</div>

@section Styles
{
    <link href="@Url.Content("~/Content/" + Model.Theme.CssFileName)" rel="stylesheet" type="text/css" />
}

@section scripts
{
    <script src="/Scripts/@(Model.Theme.JsFileName)"></script>
}