@model DiscoveryCenter.Models.SurveyViewModel
@using DiscoveryCenter.Models

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<div class="jumbotron">
    <center>
        
        <h1>@Model.SurveyName</h1>
        <br/>
        @Html.ActionLink("Start", "Survey", new { }, new { id = "Btn_Start", @class = "btn btn-default" })
    </center>
</div>

