@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

<div class="jumbotron">
    <center>
        <h1>Customer Experience Survey</h1>
        <br/>
        <a href="/Home/Survey" class="btn btn-default" id="Btn_Start">Start Survey</a>
    </center>
</div>

