@model DiscoveryCenter.Models.SliderViewModel
<div class="slider-container">
    @Html.Hidden(String.Format("QuestionModels[{0}].Answer", Model.QuestionId), "")
    @Html.TextBox(String.Format("QuestionModels[{0}].Slider", Model.QuestionId), "",
        new { @class = "slider", @onchange = "sliderChanged(this)"})

    <div class="slider-choices">
        @for (int i = 0; i < @Model.Choices.Count; i++)
        {
            <div><label>@Model.Choices[i]</label></div>
        }
    </div>
</div>