@model DiscoveryCenter.Models.SurveyViewModel
@using DiscoveryCenter.Models

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}
<meta http-equiv="refresh" content="5; url=/Home" />
    <div class="jumbotron">
        <img src="~/Content/discovery.png" />
        <h1> Thank you for taking our survey! </h1>
        <h3> This page will autoredirect to the start in 5 seconds</h3>
    </div>