@using DiscoveryCenter.Models

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

@{string url = Url.Action("Index", "Home", new { id = (int)Model });}

<script>
    var count = 5;

    var counter = setInterval(timer, 1000); 

    function timer() {
        count = count - 1;
        if (count <= 0) {
            clearInterval(counter);
            return;
        }

        document.getElementById("timer").innerHTML = count;
    }
</script>

<meta http-equiv="refresh" content="5; url=@url" />
    <div class="jumbotron">
        <img src="~/Content/images/discovery.png" />
        <h1> Thank you for taking our survey! </h1>
        <h3> This page will autoredirect to the start in <span id="timer">5</span> seconds</h3>
    </div>