@using DiscoveryCenter.Models

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

@{string url = Url.Action("Index", "Home", new { id = (int)Model });}

<meta http-equiv="refresh" content="5; url=@url" />
    <div class="jumbotron">
        <img src="~/Content/images/discovery.png" />
        <h1> Thank you for taking our survey! </h1>
        <h3> This page will autoredirect to the start in 5 seconds</h3>
    </div>