body {
    
    background-color:lightgray;
    padding-top: 50px;
    height:100%;
    min-height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    height:100%;
    background-color:lightgray;
    padding-left: 1%;
    padding-right: 1%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea{
    width:100%;
    resize:none;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]{
    width:100%;
    max-width:none;
    resize:none;
}

div .top-divider{
    margin-top:10px;
    padding-top:10px;
    border-top: 1px solid lightgray;
}





.jumbo-medium{
    height: 500px;
}

.jumbo-large{
    height: 100%;
}

.carousel-indicators{
   width:100%;
   margin-left:-50%;
   bottom:0px;
}

.carousel-indicators li{
   border-color:black; 
   height:17px;
   width:17px;
}

.carousel-indicators .active{
   background-color:teal; 
   height:20px;
   width:20px;
}

.carousel-inner
{
    min-height:400px;
}

.checkbox input[type="checkbox"]
{
    width:20px;
    height:20px;
    margin-right:15px;
}

.radio input[type="radio"]
{
    width:35px;
    height:35px;
    margin-right:15px;
}

/*carousel controls*/

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  /*left: 0;*/
  width: 7%;
  font-size: 20px;
  /*color: #ffffff;*/
  color: black;
  text-align: center;
  /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);*/
  /*opacity: 0.5;*/
  /*filter: alpha(opacity=50);*/
}

.carousel-control.left {
  /*background-color: black;*/
  
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-repeat: repeat-x;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}

.carousel-control.right {
  /*right: 0;
  left: auto;*/
  /*background-color: blue;*/
  background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}

.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators {
  position: absolute;
  bottom: 1px;
  left: 50%;
  z-index: 15;
  width: 80%;
  padding-left: 0;
  margin-left: -40%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #000000;
  /*background-color:*/
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: black;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

/*end carousel*/

.jumbotron {
  padding: 10px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}

.jumbotron h1 {
  line-height: 1;
  color: inherit;
}

.jumbotron p {
  line-height: 1.4;
}

.container .jumbotron {
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1 {
    font-size: 63px;
  }
}

/*---------selectable list------------*/

.indexSelectableList, .ui-selectable
{
    list-style:none;
    list-style-type:none;
    padding:0;
    margin:0;
}

ul{
    list-style:none;
    list-style-type:none;
    padding:0;
    margin:0;
}

.indexSelectableList li{
    display:block;
}

.indexSelectableList li.ui-selecting { 
    background: #FECA40; 
}
.indexSelectableList li.ui-selected { 
    background: #F39814;
    color: white; 
    border: 1px solid #F39814;
}

.indexSelectableList li.ui-selectee:hover
{
    background: #FECA40;
}

.header{
    background-color: darkgray;
    border:none;
    margin-left:0;
    margin-bottom:5px;
    padding: 5px;
    -ms-text-align-last: center;
    text-align-last: center;
}

.header div{
    text-align:center;
}

.header span
{
    font-size: 25px;
    line-height: 30px;
}
.ui-widget-content{
    
    margin-left:0;
    margin-bottom:5px;
    padding: 5px;
    -ms-text-align-last: center;
    text-align-last: center;
}
.ui-widget-content div{
    /*text-align:center;*/
}
.ui-widget-content span{
    display:inline-block;
    position: relative;
}

/*---------edit page selectable list panels------------*/
.panel-info > .panel-heading{
    background-color: #ADCDEE;
    color: #455C73;
    font-size: 1.6rem;
}

.panel-heading.highlight{
    background-color: gold !important;
}


/*---------------Theme stuff----------------------------*/

.indexPreview{
    
    height: 80vh; 
    position:relative
}
.indexPreview iframe{
    height:133%; 
    width:133%;
    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.editPreview{
    
    height: 71vh; 
    position:relative
}
.editPreview iframe{
    height:160%; 
    width:182%;
    margin-top: 4vh;
    margin-bottom: 2vh;
    -ms-zoom: 0.55;
    -moz-transform: scale(0.55);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.55);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.55);
    -webkit-transform-origin: 0 0;
}

.editor-container{
    position:relative;
    display:block;
    text-align:center;
}

.editor-panel{
    width:100%;
    display:inline-block;
    height: 73vh;
    position:relative;
    text-align:left;
    margin-bottom: 0;
}

.CodeMirror{
    height: 100%;
}

.ui-tabs .ui-tabs-panel {
    padding: 10px;
    margin-bottom: 0;
}


/*---------------Report stuff----------------------------*/

#report{
    position:relative;
    min-height: 300px;
}

.short-answer-report{
    background-color: lightgray;
    height: 50vh;
    padding: 5px;
    overflow: auto;
}

.short-answer-report li{
    margin-bottom: 8px;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.bargraph{
    position: relative;
}

.piechart{
    position: relative;
    width:100%;
}

/*---------------Help stuff----------------------------*/

.accordion-toggle{
    padding-left:15px;
}

.accordion-body{
    padding-left:15px;
}

/*---------------Login---------------------------------*/

.login{
    margin-top:10vh;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right:25px;
}

.loginButton{
    display:inline-block;
}

.rememberMe{
    display:inline-block;
    text-align: right;
}

/*----------------------Edit page-----------------------------*/
.fixed-sidebar{
    width:20%;
    position:fixed;
}

.edit-main-panel{
    position: absolute;
    width: 70%;
    margin-left:23%
}

