body {
    font-family: Garamond;
    background-color: #4477AA;
    font-size: 25px;
    line-height: 2.1428571435;
    color: black;
}

h1,h2,h3,h4,h5{
    font-family: Garamond;
}


.panel.thankyou h1{
    font-size: 63px;
}

.panel{
    border-radius: 0px;
    background-color: #FFFFDB
}

.panel-heading{
    background-color: #FFFFDB;
}

.panel-heading.childheading img{
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}

.glyphicon-remove-circle{
    color: #ff0000;
}

.panel-body{
    padding: 0 30px 0 30px;
}

.carousel-indicators{
    display:table;
}

.carousel-indicators li{
    display:table-cell;
    border-radius: 0px;
    border: 1px solid black;
    width:auto;
    background-color: #BBDDFF;
    height:12px;
}

.carousel-indicators li.active{
    width:auto;
    border-radius: 0px;
    height:12px;
    display:table-cell;
    background-color: #667788;
    border: 1px solid black;
}

.btn.btn-default{
    font-size: 24px;
    border-radius:0px;
    padding: 10px 20px 10px 20px;
    background-color: #667788;
    color: white;
}

.radio input[type="radio"]
{
    margin-left:25px;
}

a.carousel-control{
    background-color: #556666;
    border: 1px solid black;
}

.ui-spinner{
    margin-top:30px;
    margin-left:150px;
    height: 200px;
    width: 300px
}

.ui-spinner input{
    height: 186px;
    font-size: 36px;
    width:75px;
}

.ui-spinner a.ui-spinner-button{
    width:150px;
    border-top: 1px solid white;
}

.ui-spinner-button .ui-button-text .ui-icon{
    margin-left: 48%;
    margin-right: 48%;
}

/*----------------------exhibits---------------------*/

.exhibit-container{
    background-color: #667788;
    border-radius:0px;
}

.exhibit{
    background-color:white;
    border-radius:0px;
}