.body {
    padding-bottom: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5vh;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

textarea{
    width:80%;
    resize:none;
    margin-left: auto;
    margin-right: auto;
}

.panel{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 90vh;
    margin-bottom:0;
    padding: 0px;
}

.panel.thankyou{
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;  
}

.panel-middle-outer{
    display:table;
    height:90vh;
    width: 100%;
}

.panel-middle{
    display:table-cell;
    vertical-align:middle;
}

.panel-middle-inner{
    text-align:center;
    padding:30px;
    width: 80%;
    height: auto;
}

.panel-heading{
    position:relative;
    height:150px;
}

.panel-body{
    position:absolute;
    padding: 0 30px 0 30px;
    top: 149px;/*panel-heading height with border*/
    bottom: 40px;
    left: 0px;
    right: 0;
}

.checkbox input[type="checkbox"]
{
    top:10px;
    width:35px;
    height:35px;
    margin-right:15px;
    position:relative;
}

.radio input[type="radio"]
{
    top:10px;
    width:35px;
    height:35px;
    margin-right:15px;
    position: relative;
    margin-left:0;
}

/*--------------------slider--------------------*/
.slider-container{
    width:70%;
    margin-left:10%;
    margin-right:10%;
}

.slider.slider-horizontal{
    width:100%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    background: black;
}

/*carousel controls*/

.carousel {
  position: relative;
  height:100%;
}

.carousel-inner
{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%
}

.carousel-inner > .item {
  position: relative;
  height:100%;
  display: none;
  overflow-y: auto;
  -webkit-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner .item .question-text{
    height:auto;
} 

.carousel-inner .item .question-choices{
    height:80%;
} 

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}


.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 20px;
  color: black;
  text-align: center;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  content: '\2039';
}

.carousel-control .icon-next:before {
  content: '\203a';
}

.carousel-indicators {
  position: absolute;
  left: 50%;
  z-index: 15;
  width: 80%;
  bottom: -30px;
  padding-left: 0;
  margin-left: -40%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #000000;
  /*background-color:*/
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: black;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption .btn {
  text-shadow: none;
}

/*end carousel*/

.slider-choices {
	text-align: justify;
}
.slider-choices > div {
	width: 100px; /* Declare your value. Can be in relative units. */
	display: inline-block;
	vertical-align: top;

	/* IE fix. */
	*display: inline;
	zoom: 1;
	}
.slider-choices:after {
	content: "";
	width: 100%;
	display: inline-block;
    }

.carousel-control-caption-next {
  position: absolute;
  /*color:black;*/
  top: 52%;
  left: 50%;
  width:100%;
  margin-left:-50%;
  z-index: 5;
  display: block;
}
.carousel-control-caption-prev {
  position: absolute;
  /*color:black;*/
  top: 52%;
  left: 50%;
  width:100%;
  margin-left:-50%;
  z-index: 5;
  display: block;
}

/*----------------------exhibits---------------------*/

.exhibit-container{
    border: 1px solid black;
    background: grey;
    width:49%;
    height:100%;
    margin: 0;
    overflow-y:hidden;
    border-radius:5px;
}

.exhibit{
    border: 1px solid black;
    background: white;
    height: auto;
    width: auto;
    max-width: 400px;
    margin: 5px;
}

/*------------------alert div-----------------*/

.selection-alert-wrapper{
    position: absolute;
    z-index: 400;
    top: 15vh;
    left: 25%;
    width: 50%;
    text-align: center;
}
.selection-alert{
    position: relative;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}