body {
    font-family: 'Comic Sans MS';
    background: url(images/childbackground.jpg) repeat-x left top #7cc8d6;
    font-size: 25px;
    line-height: 2.1428571435;
}

h1,h2,h3,h4,h5{
    font-family: 'Comic Sans MS';
}

.panel.thankyou{
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.panel-middle-inner{
    border-radius: 20px;
}

.panel.thankyou h1{
    font-size: 63px;
}

.panel-heading{
    background: #69c120; /* Old browsers */
    background: -moz-linear-gradient(top,  #69c120 0%, #abdc28 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c120), color-stop(100%,#abdc28)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #69c120 0%,#abdc28 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #69c120 0%,#abdc28 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #69c120 0%,#abdc28 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69c120', endColorstr='#abdc28',GradientType=0 ); /* IE6-9 */
}

.panel-body{
    top: 155px;/*panel-heading height with border*/
}

.panel-heading img{
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}

.glyphicon-remove-circle{
    color: #ff0000;
}



.carousel-indicators{
    display:table;
}

.carousel-indicators li{
    display:table-cell;
    border-radius: 0px;
    border: 1px solid black;
    width:auto;
    background-color: #7cc8d6;
    height:12px;
}

.carousel-indicators li.active{
    width:auto;
    border-radius: 0px;
    height:12px;
    display:table-cell;
    background-color: #00CC00;
    border: 1px solid black;
}

.btn.btn-default{
    font-size: 24px;
    border-radius:15px;
    padding:20px;
    background: -ms-linear-gradient(top,  #69c120 0%,#abdc28 100%);/* IE10+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#69c120), color-stop(100%,#abdc28)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #69c120 0%,#abdc28 100%); /* Chrome10+,Safari5.1+ */
}

.radio input[type="radio"]
{
    margin-left:25px;
}

a.carousel-control{
    background-color: #abdc28;
    border: 1px solid black;
}

.ui-spinner{
    margin-top:30px;
    margin-left:150px;
    height: 200px;
    width: 300px
}

.ui-spinner input{
    height: 186px;
    font-size: 36px;
    width:75px;
}

.ui-spinner a.ui-spinner-button{
    width:150px;
    border-top: 1px solid white;
}

.ui-spinner-button .ui-button-text .ui-icon{
    margin-left: 48%;
    margin-right: 48%;
}

/*----------------------exhibits---------------------*/

.exhibit-container{
    background-color: #D1FFC2;
    border-radius:10px;
}

.exhibit{
    background-color:white;
}