body {
    font-family: Garamond;
    background-color: #4477AA;
    font-size: 18px;
    line-height: 2.1428571435;
    color: black;
}

h1,h2,h3,h4,h5{
    font-family: Garamond;
}


.panel.thankyou h1{
    font-size: 63px;
}

.panel{
    border-radius: 0px;
    background-color: #faff45
}

.panel-heading{
    background-color: #faff45;
}

.panel-heading.childheading img{
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}

.carousel-indicators{
    display:table;
}

.carousel-indicators li{
    display:table-cell;
    border-radius: 0px;
    border: 1px solid black;
    width:auto;
    background-color: #BBDDFF;
    height:12px;
}

.carousel-indicators li.active{
    width:auto;
    border-radius: 0px;
    height:12px;
    display:table-cell;
    background-color: #667788;
    border: 1px solid black;
}

.carousel-inner > .item {
  position: relative;
  height:100%;
  overflow-y:visible;
  -webkit-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.btn.btn-default{
    font-size: 24px;
    border-radius:0px;
    padding: 10px 20px 10px 20px;
    background-color: #667788;
    color: white;
    background-image: none;
}

a.carousel-control{
    background-color: #556666;
    border: 1px solid black;
}

.ui-spinner{
    margin-top:30px;
    margin-left:150px;
    height: 200px;
    width: 300px
}

.ui-spinner input{
    height: 186px;
    font-size: 36px;
    width:75px;
}

.ui-spinner a.ui-spinner-button{
    width:150px;
    border-top: 1px solid white;
}

.ui-spinner-button .ui-button-text .ui-icon{
    margin-left: 48%;
    margin-right: 48%;
}

/*----------------------exhibits---------------------*/

.exhibit-container{
    background-color: #667788;
    border-radius:0px;
}

.exhibit{
    background-color:white;
    border-radius:0px;
}

/*Mobility*/
#discoveryLogo{
    display:none;
}

.choice-image{
    display:none;
}

.glyphicon-remove-circle{
    font-size:3em;
}

.glyphicon-volume-off{
    font-size:3em;
}

.glyphicon-volume-on{
    font-size:3em;
}

@media only screen and (min-width:600px){
    .slider-container{
        position:center;
        width:80%;
        max-width:500px;
        margin-left:auto;
        margin-right:auto;
    }
}

.slider-container{
    position:center;
    width:80%;
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}

.panel-body{
    position:absolute;
    padding: 0 0 0 0;
    top: 75px;/*panel-heading height with border*/
    bottom: 0;
    left: 0;
    right: 0;
}

.panel{
    position: relative;
    width: 75%;
    height: 80vh;
    margin-bottom:0;
}

.question-text{
    text-align:center;
}

.body-content {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  font-size: 16px;
  color: black;
  text-align: center;
  width:11%;
}

#CompleteSurvey{
    margin-right:auto;
    margin-left:auto;
    margin-top:auto;
    margin-bottom:auto;
}
