
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="~/Creation/Index" class="navbar-brand"><span class="glyphicon glyphicon-list-alt"></span> Surveys</a>
            </li>

            <li>
                <a href="~/Exhibits/Index" class="navbar-brand"><span class="glyphicon glyphicon-blackboard"></span> Exhibits</a>
            </li>
            <li>
                <a href="~/Theme/Index" class="navbar-brand"><span class="glyphicon glyphicon-pencil"></span> Themes</a>
            </li>
            <li>
                <a href="~/Images/Index" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> Multimedia</a>
            </li>
            <li>
                <a href="~/Help/Index" class="navbar-brand"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
            </li>
            <li style="width:50px;display:block;height:53px;"></li>
            <li>
                <a href="~/Account/Settings" class="navbar-brand"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="navbar-brand"><span class="glyphicon glyphicon-log-out"></span> Log off</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/Creation/Index" class="navbar-brand"><span class="glyphicon glyphicon-list-alt"></span> Surveys</a>
        </li>
    </ul>
}
