@model Tuple<int,int>

@if (Model.Item1 > 1)
{
<center>
    <ul class="list-inline">
        @{
            <li><a class="btn btn-primary" href="?id=@(Model.Item2 - 1)"><</a></li>
            for (int i = 0; i < Model.Item1; i++)
            {
                if (i != Model.Item2)
                {
                    <li><a class="btn btn-primary" href="?id=@i">@(i+1)</a></li>
                }
                else
                {
                    <li><a class="btn btn-info" href="?id=@i">@(i+1)</a></li>
                }
            }
            <li><a class="btn btn-primary" href="?id=@(Model.Item2 + 1)">></a></li>
        }
    </ul>
</center>
}

