@model DiscoveryCenter.Models.ReportViewModel
<div class="text-center">
    <h2>Question @Model.QuestionIndex</h2>
</div>
<div class="top-divider"></div>
<div id="piechartdiv"></div>
<div id="bargraphdiv"></div>
<div id="noData" class="text-center" hidden><h3>No data! =( Take the survey to gather data.</h3></div>

<script>
    $(document).ready(function(){
        var data = JSON.parse('@Html.Raw(Model.ChartJSON)');
        console.log(data);
        if (data == null || data.length == 0)
        {
            $("#noData").show();
            $("#piechartdiv").hide();
        }
        else
        {
            var plot = $.jqplot('piechartdiv', [data],
                {
                    seriesDefaults: {
                        // Make this a pie chart.
                        renderer: $.jqplot.Bar,
                        rendererOptions: {
                            // Put data labels on the pie slices.
                            // By default, labels show the percentage of the slice.
                            showDataLabels: true
                        }
                    },
                    legend: {
                        show:true,
                        location: 'e',
                        placement: 'outside',
                        xoffset: 10
                    }
                }
            );

            var bargraph = $.jqplot('bargraphdiv', [data],
                {
                    seriesDefaults: {
                        // Make this a pie chart.
                        renderer: $.jqplot.,
                        rendererOptions: {
                            // Put data labels on the pie slices.
                            // By default, labels show the percentage of the slice.
                            showDataLabels: true
                        }
                    },
                    legend: {
                        show: true,
                        location: 'e',
                        placement: 'outside',
                        xoffset: 10
                    }
                }
            );
        }
    });
</script>