@model DiscoveryCenter.Models.ReportViewModel
<div class="text-center">
    <h2>Question @Model.QuestionIndex</h2>
</div>
<div class="top-divider"></div>
<div id="piechartdiv" class="piechart"></div>
<div id="bargraphdiv" class="bargraph"></div>
<div id="noData" class="text-center" hidden><h3>No data! =( Take the survey to gather data.</h3></div>

<script>
    $(document).ready(function () {
        $.jqplot.config.enablePlugins = true;
        var data = JSON.parse('@Html.Raw(Model.ChartJSON)');
        console.log(data);
        if (data == null || data.length == 0)
        {
            $("#noData").show();
            $("#piechartdiv").hide();
        }
        else
        {
            var plot = $.jqplot('piechartdiv', [data],
                {
                    seriesDefaults: {
                        // Make this a pie chart.
                        renderer: $.jqplot.PieRenderer,
                        rendererOptions: {
                            // Put data labels on the pie slices.
                            // By default, labels show the percentage of the slice.
                            showDataLabels: true
                        },
                        barWidth: 15,
                        pointLabels: { show: true, location: 'n', edgeTolerance: -15 },
                    },
                    legend: {
                        show:true,
                        location: 'e',
                        placement: 'outside',
                        xoffset: 10
                    }
                }
            );

            //barchart data
            var labels = new Array();
            var counts = new Array();
            var labelsplit;

            var preLabel = "";
            var stringLength = 30;
            for (var key in data) {
                if (data[key][0].length > stringLength) {
                    preLabel = data[key][0].substring(0,stringLength)
                    if (preLabel.length == stringLength)
                        preLabel += "..."
                }
                else
                    preLabel = data[key][0];
                labels.push(preLabel);

                
                counts.push(data[key][1]);
            }

            var height = labels.length * 60;
            console.log(height);
            var bargraph = $.jqplot('bargraphdiv', [counts],
                {
                    height: height,
                    animate: !$.jqplot.use_excanvas,
                    seriesDefaults: {
                        renderer: $.jqplot.BarRenderer,
                        pointLabels: { show: true},
                        shadowAngle: 135,
                        rendererOptions: {
                            barDirection: 'horizontal',
                            animation:
                            {
                                speed: 1000
                            },
                            varyBarColor: true
                        }
                    },
                    axes: {
                        yaxis: {
                            renderer: $.jqplot.CategoryAxisRenderer,
                            ticks: labels,
                            tickOptions: {
                                fontFamily: 'Georgia',
                                fontSize: '16pt',
                                showGridline: true
                            }
                        },
                        xaxis: {
                            min: 0,
                            tickInterval: 1,
                            tickOptions: {
                                formatString: '%d'
                            }
                        }
                    }
                }
            );
            
            $(document).ready(function () {
                //pie charts table legend overflow
                var legend = $("#piechartdiv").children("table.jqplot-table-legend");
                var top = parseFloat(legend.css("top"));
                if (top < 0) {
                    $("#piechartdiv").css('margin-bottom', -top).css('margin-top', -top);
                }
            });
        }
    });
</script>